:root {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #f1f1f1;
}

header {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

header>h1 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.67em;
}

.school__category {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

input[type="radio"].shri-category {
    display: none;
}

input[type="radio"].shri-category:checked+div#app~[data-school="shri"] {
    border-bottom: 1px solid red;
}

input[type="radio"].shri-category+label {
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

input[type="radio"].shri-category:checked+label {
    border-bottom: 1px solid red
}

div#app {
    padding: 0 10px 0 10px;
    max-width: 700px;
}

article.lecture {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    min-height: 150px;
    background-color: white;
}

.lecture-done .lecture__place {
    display: none;
}

.lecture__place {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    flex: 1;
    max-width: 105px;
    padding: 10px 5px
}

.lecture__place-datetime {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.lecture__place-day {
    font-size: 35px;
    line-height: 1;
}

.lecture__place-month {
    font-size: 16px;
    color: #b2b2b2
}

.lecture__place-time {
    font-size: 14px;
    line-height: 2;
}

.lecture__place-classroom {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.lecture__place-classroom::before {
    content: "";
    background: url('../static/svg/door.svg') no-repeat;
    /* background-color: red; */
    width: 20px;
    height: 20px;
}

.lecture__content {
    display: flex;
    flex-direction: column;
    flex: 4;
    margin-left: 10px;
    justify-content: space-around;
    padding: 10px 5px
}

.lecture__content .name {
    font-size: 16px;
    font-weight: bolder;
    word-wrap: break-word;
}

.lecture__content .speaker {
    font-size: 14px;
    font-weight: lighter;
}

/*.lecture__content .speaker:focus {
    font-size: 16px;
    font-weight: bolder;
}*/

.lecture__content .school {
    margin: 5px 0;
}

.lecture__content .school span {
    display: inline-block;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: lighter;
    padding: 0 3px;
    border-radius: 2px;
    line-height: 1.8;
}

.lecture__content-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    max-width: 105px;
    background: red;
}

.button__link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.button__text {
    font-size: 12px;
    margin-right: 7px;
    display: none;
}

.button__icon {
    width: 25px;
    height: 25px;
    background: url('../static/svg/play.svg') no-repeat;
    display: block;
}

.lecture__content .school span.shmd {
    color: white;
    background: black;
}

.lecture__content .school span.shri {
    color: white;
    background: red;
}

.lecture__content .school span.shmr {
    color: black;
    background: yellow;
}

.modal {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in
}

.modal:target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    /* max-height: 400px; */
    /* max-width: 600px; */
    background-color: white;
    transform: translate(0%, 0%);
    display: block;
    /*visibility: visible;*/
    background: rgba(0, 0, 0, 0.49);
}

.modal__wrapper {
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 750px;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.40);
}


/*сброс класса ссылок в отдельный класс оформить*/

.modal__wrapper-close {
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: red;
    position: absolute;
    right: 0;
    padding: 10px 20px;
}

.modal__wrapper-speaker {
    margin-bottom: 10px;
}

.modal__wrapper-name {
    font-size: 30px;
    font-weight: lighter;
    margin: 10px 20px;
    align-self: center;
    text-align: center;
}

.modal__wrapper-info {
    overflow: auto;
    max-height: 500px;
    height: auto;
    margin: 5px 5px;
    text-align: justify;
    padding: 10px 20px;
}

.modal__wrapper-photo {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: 100% 100%;
    margin: 0 auto;
}

#dushkin .modal__wrapper-photo {
    background: url('../static/dushkin.jpg') no-repeat;
    background-size: contain;
}

#grigoriyev .modal__wrapper-photo {
    background: url('../static/grigoriyev.jpg') no-repeat;
    background-size: contain;
}

#lorem .modal__wrapper-photo {
    background: url('../static/ten.jpg') no-repeat;
    background-size: contain;
}

@media (min-width: 700px) {
    body {
        background-color: white;
    }
    div#app {
        margin-left: 20px;
    }
    .lecture {
        box-shadow: none;
        border: none;
    }
    .button__text {
        display: block;
    }
}

@media (orientation:landscape) and (max-height: 700px) {
    .modal__wrapper {
        max-height: initial;
        max-width: initial;
    }
}

@media (min-width: 1250px) {
    .modal {
        visibility: hidden;
    }
    .modal:target {
        background: none;
        max-height: initial;
        max-width: initial;
        z-index: 10;
    }
    .modal__wrapper {
        visibility: initial;
        height: auto;
        top: 120px;
        right: 0%;
        transform: translateX(25%);
        position: fixed;
    }
}

@media (min-width: 1250px) and (min-height: 750px) {
    div#app {
        z-index: 2;
    }
    .modal {
        visibility: hidden;
    }
    .modal__wrapper {
        visibility: initial;
        height: auto;
        top: 35%;
        left: 750px;
        transform: translate(5%, -40%);
        max-height: 550px;
        position: fixed;
        z-index: 10;
    }

    .modal:target {
        z-index: 10;
    }
}


/*@media (min-height: 751px ) {
    .modal__wrapper {
        top: 0%;
        left: 750px;
        transform: translate(5%, 30%);
        max-height: 600px;
        position: fixed;
    }
}*/


/*Новый стиль кнопки*/